html {
font-size: 12px;
font-family: sans-serif;
color: #ccc;
}
#container {
width: 650px;
}
header, footer {
  color: rgb(0,0,255);
  height: 50px;
}
header, section, footer {
border: 2px solid #333;
}
/* *** DO NOT CHANGE ANYTHING ABOVE THIS LINE */
/* Your task is to lay out this page as shown in the included
image, using floats and box-model properties.
Remember, because you have a 2px border on the sides of each
section, you are working with 638px for content and margin
between the three sections! */

/* added by myself, to try web font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

main {
overflow: hidden;
margin: 16px 0;
/* We include overflow: hidden so our floated elements don't break
their 'main' container. We also add a margin to the top and
bottom of main to separate it from the header and footer. */
}
section {
float: left;
width: 202px;
margin-right: 16px;
height: 300px;
/* Disregard height; it's only for visual purposes.
We have 638px to work with. We need two gutters, each having
a width of 16px. (Also, see note below.) That leaves us with
606px, and three columns to divide that among. Very easy math:
606 / 3 = 202px. And that's how we determine our section
width.
*/
}
section:last-child {
margin-right: 0;
/* If we left the margin-right applied to all three sections, our
layout would break since we run out of room in our container.
We can apply the margin to all three, then overwrite the property
with a new rule targeted to our last section. This way, each
section still has a spacing, and yet it does not break our layout.
*/
}

p {
font-size: 12px;
color: black;
}
